@import 'lib/css/adaptivegrid.scss';
@import url(https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:300);

body {
  font-family: helvetica;
  font-size: 17px;
  font-weight: 100;
  color: #ded5e2;
  background-color: #1d131f;
  padding: 20px;
}

a {
  color: #ded5e2;
}

h1,
h2,
h3,
h4 {
  font-family: 'Playfair Display';
  color: #fff;
  text-shadow: rgba(255,255,255,.3) 0 0 5px;
}
